<nav class="nabar navbar-light bg-primary">
<div class="container-fluid">
  <h1>User Crud</h1>
  <div class="d-flex">

  </div>
</div>
</nav>


<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAddUser()">Add User</button>
<div class="container">
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">DateOf Birth</th>
        <th scope="col">Phone number</th>
        <th scope="col">Gender</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of userData">
        <td>{{row.id}}</td>
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.email}}</td>
        <td>{{row.dbOfBirth}}</td>
        <td>{{row.phoneNumber}}</td>
        <td>{{row.gender}}</td>
        <td>
          <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(row)">Edit</button>
          <button class="btn btn-danger mx-3" (click)="deleteUser(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]=" formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="inputHelp" required>
 <div *ngIf="formValue.invalid && (formValue.dirty || formValue.touched)"
            class="alert alert-danger">
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputEmail1" aria-describedby="inputHelp" required>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputtext" class="form-label">Date of Birth</label>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput formControlName="dbOfBirth" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            <!-- <input type="text" formControlName="dbOfBirth" class="form-control" id="exampleInputtext"> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputtext" class="form-label">Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" id="exampleInputtext">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gender</label>
            <select formControlName="gender" class="form-control" >
              <option value=""></option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
          </select>
          <!-- <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
              <div *ngIf="f.role.errors.required">Role is required</div>
          </div> -->
            <!-- <input type="text" formControlName="gender" class="form-control" id="exampleInputEmail1" aria-describedby="inputHelp"> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
